$enable-gradients: true;

// Body
$body-bg: #f8fafc;
$footer-bg: #e7e7e7;
$header-bg: #ffffff;

// Buttons
$login-button-bg: #6ed7ab;
$login-button-hover-bg: #38936c;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
